
/* SidePanel.css */
.side-panel {
  margin: 20px 10px 0 auto;
  border-radius: 5px;
/*
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
*/
  min-width: 316px;
  overflow: hidden;
  padding: 4rem 2rem;
}

.side-panel.visible {
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.side-panel.hidden {
  animation: slideOutToLeft 0.3s ease-out forwards;
}

.side-panel-stat-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.side-panel-stat-content {
  display: flex;
  justify-content: left;

}

/*Progress bar*/

.progress-bar-animated {
  width: 100%;
  height: 14px;
  background-color: #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #2196F3, #21CBF3);
  border-radius: 12px;
  width: 0;
  animation: fillAnimation 2s ease-in-out forwards;
  position: relative;
}

.progress-fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: linear-gradient(
    -45deg,
    rgba(255,255,255,0.2) 50%,
    rgba(255,255,255,0.2) 75%,
  );
  background-size: 50px 50px;
  animation: moveStripes 2s linear infinite;
}

@keyframes fillAnimation {
  to {
    width: 7%;
  }
}

/*SidePanel animation*/

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-1%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(-1%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
