
/* SidePanel.css */
.side-panel {
  margin: 20px 10px 0 auto;
  border-radius: 5px;
/*
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
*/
  min-width: 316px;
  overflow: hidden;
  padding: 4rem 2rem;
}

.side-panel.visible {
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.side-panel.hidden {
  animation: slideOutToLeft 0.3s ease-out forwards;
}

.side-panel-stat-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.side-panel-stat-content {
  display: flex;
  justify-content: left;
  font-size: smaller;
}

/*Progress bar*/

.progress-bar-container {
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 9999px;
  transition: width 0.3s ease;
  position: relative;
}

.progress-bar-fill.in-progress {
  background: linear-gradient(90deg, #3B82F6, #60A5FA, #3B82F6);
  background-size: 200% 100%;
  animation: shimmer 2s infinite, progressGrow 0.5s ease-out;
}

.progress-bar-fill.completed {
  background: linear-gradient(90deg, #40F63B, #90F63B, #BFF63B);
  background-size: 200% 100%;
}

/*
@keyframes progressGrow {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}
*/

/*SidePanel animation*/

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-1%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(-1%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
