@import './root.css';

.settings-form-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.1rem;
  background: var(--background-secondary);
  border-radius: 5px;
}

.settings-form-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  text-align: center;
  position: relative;
}

.border-bottom-line {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  margin-bottom: 16px;
  max-width: 32%;
}

.settings-form-title::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3px;
  background: linear-gradient(90deg, var(--primary-color), var(--success-color));
  border-radius: 2px;
}

.settings-form-content {
  background: var(--background-primary);
  margin: 2rem 3rem 2rem;
  padding: 1rem 3rem 0;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  min-width: 450px;
  max-width: 800px;

}
